#myheader {
    background-color: rgb(0, 149, 255);
    text-align: center;
  }

#mydiv {
    background-color: rgb(212, 212, 212);
}

#mydiv1 {
    background-color: rgb(212, 212, 212);
}

#butt1 {
    background-color: rgb(0, 149, 255);
}

#myheader1 {
    background-color: rgb(0, 149, 255);
    text-align: center;
}
  